#edit-menu-item-box {
    text-align: center;
    margin-top: 80px;
}

h3 {
    font-size: 2em;
}

#edit-menu-form {
    margin-left: 25%;
    margin-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    text-align: left;
}

#edit-menu-second-row {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.edit-menu-item {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: rgb(63, 63, 63);
}

button {
    background-color: rgb(48, 84, 150);
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    font-size: 16px;
}